<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hammercolab.theldpkh">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission
        android:name="com.hammercolab.theldpkh.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.hammercolab.theldpkh.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hammercolab.theldpkh.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.hammercolab.theldpkh.permission.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />


    <application
        android:name="com.hammercolab.theldpkh.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.hammercolab.theldpkh.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.hammercolab.theldpkh" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.hammercolab.theldpkh.GCMPushReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.hammercolab.theldpkh.GCMRegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name="com.hammercolab.theldpkh.ActivityPlay"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hammercolab.theldpkh.SlashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_key" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.hammercolab.theldpkh.ImageActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.hammercolab.theldpkh.ActivityUploadVideo" />
        <activity
            android:name="com.hammercolab.theldpkh.ForumActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hammercolab.theldpkh.NewsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hammercolab.theldpkh.ActivitySetting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hammercolab.theldpkh.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hammercolab.theldpkh.FavoriteActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>